* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

main {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto auto;
    border: 3px dotted black;
    transform-style: preserve-3d;
    animation: 20s infinite linear;
    animation-name: parent-rotate;
    perspective: 1000px;
    display: flex;
}
/*Main block to rotate around Z -axis*/
@keyframes parent-rotate {
    0% {
        transform: rotateY(0deg)
    }
    50% {
        transform: rotateY(180deg)
    }
    100% {
        transform: rotateY(360deg)
    }
}
/*Red rectangle*/
.red {
    transform-style: preserve-3d;
    display: inline-block;
    background-color: red;
    padding: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateZ(-15px);
    transition: 10ms;
    animation: 10s infinite linear;
    animation-name: red-rotate;
}

@keyframes red-rotate {
    0% {
        transform: rotateZ(0deg) translateZ(-15px);

    }

    100% {
        transform: rotateZ(360deg) translateZ(-15px);
    }
}

.red::before {
    content: "Before";
    transform: translateZ(-1px);
    position: absolute;
    color: white;
}
/*Green rectangle*/
.green {
    transform-style: preserve-3d;
    display: inline-block;
    background-color: green;
    padding: 50px;
    line-height:;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: 10s infinite linear;
    animation-name: green-rotate-rotate;
}

@keyframes green-rotate-rotate {
    0% {
        transform: rotateZ(0deg) translateZ(15px);
    }

    100% {
        transform: rotateZ(-360deg) translateZ(15px);
    }
}


.green::after {
    content: "After!";
    position: absolute;
    transform: translateZ(1px);
    color: white;
}
